@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
}
<div>
    <div class="row">
        <div class="col-6">
            <h2>Customer list</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model != null && Model.Count() > 0)
        {
            <table class="table table-striped ">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Age)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Age)
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No customers</p>
        }
    </div>
</div>